body{
	background-color:#05305F;
}

h1{
	color:#EFC40B;
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Arimo', sans-serif;
	color:#05305F;
}

.panel{
	background-color:#05305F;
}

img{
	width: 4.0em;
	height: 4.0em;
}

.jumbotron{
	background-color:#EFC40B;
}

#pavpic{
	width: 65%;
	height: 65%;
}

.navbar{
	width: 9.0em;
	height: 9.0em;
}